doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./UI Kit/header/header.css")
        title Document
    body 
       header.header 
        .header__logo.logo  
            img.header__img.logo__img(src="./UI Kit/header/logo.svg", alt="")
            
        ul.header__nav  
            li.header__nav-item.header__nav-item_bold О нас
            li.header__nav-item Услуги
            li.header__nav-item Вакансии
            li.header__nav-item Новости
            li.header__nav-item Соглашения
        .header__login.login
            a.header__login-link.login__link Войти
        .header__register.register 
            a.header__register-link.register__link Зарегистрироваться

    script(src=" ./index.js") 
